<div class="welcome">
    <div class="welcome_top">
        <div class="welcome_top_img"><img src="assets/img/welcome_header.jpg"></div>
        <div class="welcom_top_text">
            <div class="welcome_name">{{appContext.user}} , 欢迎来到 datasee</div>
            <div class="welcom_ms">简单、快速的理解数据，更好的实现商业决策</div>
        </div>
    </div>
    <div class="function_box base_function">
        <div class="function_title">基本功能<br><span>四步操作让你了解 DataSee</span></div>
        <div class="container-fluid">
            <ul class="row">
                <li class="col-md-3 achieve">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-link-copy"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-link-copy"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第一步.连接数据源</p>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-tongjishujuji"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-tongjishujuji"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第二步.创建数据集</p>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-table"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-table"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第三步.制作分析图表</p>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-baogao"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-baogao"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第四步.制作分析报告（仪表盘）</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="function_box">
        <div class="function_title">工作成果分享</div>
        <div class="container-fluid">
            <ul class="row">
                <li class="col-md-4 achieve">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-yonghuguanli"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-yonghuguanli"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第一步.创建用户分组</p>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-yaoqing"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-yaoqing"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第二步.邀请同事</p>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-flowbranch1157840easyiconnet"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-flowbranch1157840easyiconnet"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">第三步.分享图表和报告<br>（仪表盘）给同事</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="function_box bi_function">
        <div class="function_title">数据应用</div>
        <div class="container-fluid">
            <ul class="row">
                <li class="col-md-4 achieve">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-gongneng1"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-gongneng1"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">应用模板</p>
                        <p class="f_ms">可以直接使用场景化的<br>数据报表</p>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-shujuji"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-shujuji"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">数据中心</p>
                        <p class="f_ms">管理数据源、数据集和报表</p>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="javascript:;">
                        <div class="f_icon_box">
                            <div class="icon_con">
                                <i class="iconfont icon-dashboard_look"></i>
                            </div>
                            <div class="icon_con1">
                                <i class="iconfont icon-dashboard_look"></i>
                            </div>
                            <i class="iconfont icon-duihao"></i>
                        </div>
                        <p class="f_text">数据看板</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
