<div class="state_step" xmlns="http://www.w3.org/1999/html">
  <div class="step_title">CODE数据源的数据模型为系统设置，暂不支持自定义</div>
  <div class="step_describe">如何启用数据分析：</div>
  <ul class="self_clearfix step_list">
    <li class="step_first">
      <div class="step_text">启用模型</div>
      <div class="step_number">1</div>
    </li>
    <li class="step_second">
      <div class="step_text">进行数据<br>初始化构建</div>
      <div class="step_number">2</div>
    </li>
    <li class="step_third">
      <div class="step_text">设置数据<br>定时更新机制</div>
      <div class="step_number">3</div>
    </li>
    <li class="step_fourth">
      <div class="step_text">定时增量<br>更新数据</div>
      <div class="step_number">4</div>
    </li>
  </ul>
</div>
