
.self_modal_dialog{ width: 610px;}
.select_source{ width: 310px; border-radius: 3px; background-color:#fff; color: #666; font-size: 12px; height: 38px; line-height: 38px; padding: 0 10px;}
.select_relation{ width: 100px; text-align: center; color: #fff; font-size: 12px; line-height: 38px;}
.key_box{ width:310px; height: 228px; padding:10px;background-color: #fff; border-radius: 3px; border: 1px solid #e6eaec; line-height: 30px;}
.key_search_box i{position: absolute; color: #b4b7c6; left:9px;  }
.key_list{ width:100%; height:165px; margin-top: 10px;padding: 0; background-color: #fff; }
.key_list li{ line-height: 28px; padding-right: 20px; padding-left: 2px; font-size: 14px; color: #333; margin-top: 10px; cursor: pointer; border-bottom: 1px dashed #dcdcdc;}
.key_list li:hover{ background-color: #f9f9f9;}
.key_list li.selected{background-color: #e1e1e1;}
.key_list li i{ color: #859acf; margin-right: 10px;}
.key_list li .icon-abc{ font-size: 21px;}
.form_btn{ width:116px; height: 30px; line-height: 30px; cursor: pointer; text-align: center; font-size:14px; color: #fff; border-radius: 3px; border:none; outline: none; }
.create_relation{ width:94px;height:40px; line-height: 38px;  }
.table_box{ border:1px solid #e6eaec; border-radius: 3px; background-color: #fff;}
.table_tit{ height: 40px; line-height: 38px; background-color: #f7f7f7; padding: 0 20px; color: #333; border-bottom: 1px solid #e6eaec;}
.table_list{ height: 154px;}
.table_list li{ margin-top:10px; background-color: #f9f9f9; line-height:38px; color: #333; padding: 0 20px; }
.table_list li i{ color: #f05d5a; font-size: 20px; cursor: pointer;}
.relation_moveBtn{ margin-top: 45px;}
.table_tit i{color: #859acf; font-size: 18px;}
.relation_btn button{ width: 49%; font-size: 18px;}
.key_search_box{ position: relative;}
.key_search_box input{ width: 100%; color: #333; background-color: #eeeeee; padding: 0 20px 0 35px; height: 30px; line-height: 30px; border:none; outline: none; border-radius: 3px; }
.branch_body{ border:1px solid #e6eaec; border-radius: 3px; background-color: #fff; padding-bottom: 35px;}
.branch_title{ background-color: #f7f7f7; height: 41px; line-height: 40px; border-bottom: 1px solid #e6eaec; padding:0 20px; color: #333; }
.filter_branch_box{ height: 30px;margin:10px 0; line-height: 30px;}
.filter_branch_label{ float: left;width: 100px; padding-left: 20px; font-weight: bold; color: #333;}
.filter_branch_input{ position: relative; float: left; width: 290px;}
.filter_branch_input input{ width: 100%;height: 30px; line-height: 28px; outline: none; font-size: 14px; color: #333; font-weight: normal; border:1px solid #e6eaec; padding: 0 10px 0 35px; border-radius: 2px; background-color: #eee;}
.filter_branch_input input:focus{ border-color:#4aa2de; }
.filter_branch_input i{ position: absolute; color: #b4b7c6;left: 10px; top: 0;}
.branch_list{ margin: 0 10px;}
.branch_list li{ padding: 0 10px; height:35px; line-height: 34px; border-bottom: 1px dashed #e0e0e0; color:#333; }
.branch_list li:hover{ background-color: #fffff5; cursor: pointer;}
.branch_list li:last-child{ border-bottom: none;}
.branch_page{height: 50px; line-height: 50px; text-align: center;}
.branch_page span{ color: #4aa2de; margin: 0 15px; cursor: pointer;}
.branch_contanier{ border:1px solid #e6eaec; border-radius: 3px; background-color: #f7f7f7; padding:10px 10px 5px;  margin: 0 10px; height: 130px;}
.branch_contanier li{ display: inline-block; padding: 0 20px;height: 22px; line-height: 20px; border:1px solid #dedfe2; border-radius: 2px; background-color: #fff;  margin: 0 5px 5px 0; color: #333; position: relative; font-size:12px;  max-width: 100%;}
.branch_contanier li i{ position: absolute; right: 3px; color: #f04946; top: 0; font-size: 10px; cursor: pointer; display:none;}
.branch_contanier li:hover i{ display: block;}
.filter_branch{ float: left; width: 60px; margin-left: 10px;}
.filter_branch button{ height: 30px; line-height: 30px; font-size: 14px;}
.has_select_branch i{ color: #859acf; margin-right: 10px; font-size: 18px;}
