.preview{}
.p_dashboard_name{ line-height: 76px; color: #333; font-size: 24px; padding: 0 50px; position: relative; background-color: #fff; height: 76px;}
.no_dashboard{ position:relative; height: 780px; background-color: #fff; margin: 20px 50px;}