<template #itemTemplate let-page="item.value" let-index="index">
  <div class="sortable-item-inner" [class.cur]="page.pageID == curPage.pageID">
    <span  (click)="tabClick(page,$event)" title="双击修改页面名称">{{page.pageName}}</span>
    <input type="text" value="{{page.pageName}}" #inputN (blur)="renamePage($event,page,inputN.value)">
    <i class="iconfont icon-xxz" *ngIf ="dashboard.content.length>1" (click)="showDeleteConfirmPage($event,page)"></i>
  </div>
</template>


<div class="dashboard_container" #dashboardBox  [@flyIn]="active">
  <div class="dashboard_box">
    <div class="panel_title"><input type="text" #dashboardName maxlength="50" value="{{dashboard.dashboardName}}" (blur)="changeDashboardName($event,dashboardName.value)"></div>
    <div class="panel_top">
      <div class="panel_tab_list self_clearfix">
        <bs-sortable
          [(ngModel)]="dashboard.content"
          [itemTemplate]="itemTemplate"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderClass="placeholderStyle"
          wrapperClass="sortable-wrapper"
          (onChange)="sortTab($event)"
        ></bs-sortable>
      </div>

      <div class="panel_icon_list">
        <i class="iconfont panel_add_btn "(click)="createPage()"tooltip="打开新的标签页" placement="bottom"  ></i>
        <i class="iconfont icon-tianjia-copy " *ngIf="curPage&&!curPage.href&&pageType!='iframe'" (click)="addPanel($event)"tooltip="添加面板" placement="bottom"  ></i>
        <i class="iconfont icon-layout2" (click)="resetLayout()"tooltip="清空" placement="bottom" style="margin-right: 15px;"></i>
        <!--<span (click)="showLayer($event,'layoutListFlag')"><i class="iconfont icon-layout2" ></i><i class="iconfont icon-jiantouyou "></i></span>-->
        <span>|</span>
        <i class="iconfont icon-iconshezhi01 " tooltip="权限设置" placement="bottom" *ngIf="dashboard.dashboardID&&dashboard.hasPermission(PERMISSION_TYPE.AUTH)" (click)="resourcePermissionModal.show(dashboard.dashboardID,dashboard.dashboardName,RESOURCE_TYPE_DASHBOARD)" ></i>
        <i  *ngIf="dashboard.dashboardID" class="icon-yulan iconfont " tooltip="预览" placement="bottom" [routerLink]="[ '/dashboard',dashboard.dashboardID ]"></i>
        <i class=" iconfont icon-baocun " tooltip="保存全部" placement="bottom" (click)="saveDashboard($event)"></i>
      </div>
    </div>
    <div class="dashboard_content" style="min-height: 90vh;" [class.dashboard_table_box_hide]="curPage&&curPage.href||pageType=='iframe'">
      <div class="dashboard_table_box" [class.dashboard_left_fixed]="isFixed" *ngIf="curPage&&!curPage.href&&pageType!='iframe'">
        <h3 class="dashboard_left_title" style="top:0"><i class="iconfont icon-biaoge"></i>选择数据集</h3>
        <div class="dashboard_dataset_box son-info-list" style="top:30px;">
          <select #dataSetList (change)="changeDataSet($event,dataSetList.value)" class="dataset_select" *ngIf="datasetList">
            <option *ngFor="let dataset of datasetList" value="{{dataset.dataSetID}}" [selected]="curPage && (dataset.dataSetID === curPage.dataSetID)">{{dataset.dataSetName}}</option>
          </select>
          <div *ngIf="isCardGetting" style="text-align: center;">
            <i class="fa fa-spinner fa-pulse fa-2x"></i>
          </div>
          <ul *ngIf="cardList" class="dashboard_cardlist scroll_bar" [dragula]='"panel"' [attr.data-drag]='"panel0"'>
            <li *ngFor="let card of cardList" class="card_item self_ellipsis" title="{{card.cardName}}" [class.sel]="usedCards.indexOf(card.cardId)>=0" [attr.data-dashType]="'dataset'" [attr.data-content]="card.content" [attr.data-queryType]="card.queryType" [attr.data-cardID]="card.cardId" [attr.data-cardName]="card.cardName" [attr.data-dataSetID]="card.dataSetId">{{card.cardName}}</li>
          </ul>
        </div>
        <h3 class="dashboard_left_title" style="top:250px;"><i class="iconfont icon-biaoge"></i>选择菜单</h3>
        <div class="dashboard_dataset_box son-info-list" style="top:280px;">
          <select #menusList (change)="changeMenu($event,menusList.value)" class="dataset_select" *ngIf="menuList.length>0">
            <option *ngFor="let dataset of menuList" value="{{dataset.id}}" [selected]="curPage && (dataset.id === curPage.menuId)">{{dataset.name}}</option>
          </select>
          <ul *ngIf="tableList.length>0" class="dashboard_cardlist scroll_bar" [dragula]='"panel"' [attr.data-drag]='"panel0"'>
            <li *ngFor="let table of tableList" class="card_item self_ellipsis" title="{{table.name}}" [class.sel]="usedTables.indexOf(table.id+'')>=0" [attr.data-cardID]="table.id" [attr.data-dashType]="'conf'" [attr.data-cardName]="table.name" [attr.data-defaultTime]="table.defaultTime">{{table.name}}</li>
          </ul>
        </div>
      </div>
      <div class="dashboard_panel_box">
        <div class="panel_content_box scroll_o_bar" style="min-height: 550px;" #gridContainer>
          <page-layout *ngIf="curPage && curPage.panels.length == 0" [url]="curPage.href"  (createLayoutEvent)="createPanelLayout($event.url,$event.arr)" (pageTypeChange)="pageTypeChange($event)"></page-layout>
          <ng-template ngFor let-page [ngForOf]="dashboard.content">
            <div class="grid panels_list "  id="panels_list" [ngGrid]="CONTAINER_CONFIG" *ngIf="curPage.panels.length>0&&page.pageID == curPage.pageID">
              <!--panel loop start{-->
              <div *ngFor="let panel of curPage.panels; let i = index" class="grid-item" [(ngGridItem)]="panel.config"  (onItemChange)="onPanelSizeChange(panel,i, $event)" (onDragStop)="onDragStop(panel,$event)"  (onResizeStop)="onResizeStop($event);panelContent.onResizeStop($event.width,$event.height)">
                <div class="panel_operator">
                  <div class="panel_operator dev-drag">
                   <span class="self_cursor span-float" (click)="showLayer($event,'panelTypeFlag',true,panelOperateFn($event,panel,true));$event.stopPropagation();">
                     <i class="iconfont self_left" [class.icon-shaixuan]="panel.panelType == 1" [class.icon-wenben]="panel.panelType == 2" [class.icon-shujuji]="panel.panelType == 0" [class.icon-tupian]="panel.panelType == 3"></i>
                     <i class="iconfont icon-jiantouzuo-copy" ></i>
                   </span>
                    <span class="panelbox_title self_ellipsis" title="{{panel.panelName}}" (dblclick)="showPanelInputBox($event)">
                      {{panel.panelName}}
                      <input type="text" style="display: none;background-color: #fff;" maxlength="20" [attr.data-panel-id]="panel.panelID"  (mousedown)="$event.stopPropagation();" (blur)="savePanelTitle($event);" value="{{panel.panelName}}" />
                      <!--{{panel.panelName}}-->
                    </span>
                    <i class="iconfont icon-shanchu self_right marL20 self_cursor" tooltip="删除" placement="bottom" (click)="removePanel(panel);$event.stopPropagation();"></i>
                    <i class="iconfont icon-clear self_right marL20 self_cursor" tooltip="清空" placement="bottom" (click)="clearPanel(panel);$event.stopPropagation();"></i>
                   <span class="self_right self_cursor" (click)="showLayer($event,'panelFilterFlag',true,i,panelOperateFn($event,panel,false))">
                     <i class="iconfont icon-shaixuan self_left" *ngIf="panel.singlePanelFilters && panel.singlePanelFilters.length"></i>
                     <i class="iconfont icon-jiantouzuo-copy"  *ngIf="panel.singlePanelFilters && panel.singlePanelFilters.length"></i>
                   </span>
                  </div>
                </div>
                <!--数据集图表-->
                <panel-init *ngIf="panel.panelType!==4" [data]="panel.data" #panelContent [panelID]="panel.panelID" [panelType]="panel.panelType" [preview]="false" [panelCharts]="panelCharts" [dragula]='"panel"' [attr.data-drag]='"panel"+panel.panelType' [attr.data-move]="'0'" [attr.data-panelID]="panel.panelID" (addDataEvent)="addDataFn($event,panel)" (createPageFilterEvent)="createPageFilterFn($event)" (setFilterEvent)="setFiltersFn($event)"></panel-init>
                <!--可配置报表图表-->
                <app-panel-echart *ngIf="panel.panelType===4" [tableId]="panel.data?.cardId" [timeRange]="panel.data?.content?panel.data?.content:'14:1'" #panelContent [panelID]="panel.panelID" [dragula]='"panel"' [attr.data-panelID]="panel.panelID"></app-panel-echart>
              </div>
              <panel-type *ngIf="layerFlags.panelTypeFlag" [top]="panelTypeBoxPos.top - 1" [left]="panelTypeBoxPos.left" (changePanelTypeEvent)="changePanelTypeFn($event)"></panel-type>
              <panel-filter  *ngIf="layerFlags.panelFilterFlag" [filters]="selectPanelFilters" [top]="panelFilterBoxPos.top" [left]="panelFilterBoxPos.left"></panel-filter>
              <!--}panel loop end-->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard_box" >
  </div>
</div>
<div bsModal #deletePageConfirm="bs-modal"  [config]="{backdrop: 'static'}" class="modal fade self_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm self_modal_dialog self_success_modal delete_confirm" >
    <div class="modal-content self_modal_content">
      <div class="modal-header self_modal_header create_success">
        <button type="button" class="close self_close" aria-label="Close" (click)="deletePageConfirm.hide()">
          <i class="iconfont icon-guanbigongjulan"></i>
        </button>
      </div>
      <div class="delete_icon"><i class="iconfont icon-shanchu"></i></div>
      <div class="delete_text">确认删除页面么？</div>
      <div class="self_clearfix confirm_btn"><button class="self_btn self_left c_a0a1a1" (click)="cancelRemove($event)">取消</button><button class="self_btn  self_right c_ef5350" (click)="confirmRemove($event)">确认</button> </div>
    </div>
  </div>
</div>

<resource-permission-modal  #resourcePermissionModal (changeUserPermission)="update($event)"></resource-permission-modal>
