<div class="data_table_box">
  <ul class="container-fluid data_table_list">
    <li class="col-lg-2 col-sm-3 col-md-3">
      <div class="data_table">
        <div class="create_table" [routerLink]="['/card/',dataSetId]">
          <div class="create_con">
            <i class="iconfont icon-chuangjianhuodong"></i>
            <p>创建一个报表</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-lg-2 col-sm-3 col-md-3" *ngFor="let card of cards">
      <div class="table_box">
        <div class="table_name">{{card.cardName}}</div>
        <div class="d3_box" [routerLink]="['/card/',card.dataSetId]" [queryParams]="{cardId:card.cardId  }">
          <div class="table_template">模板</div>
          <img src="assets/img/d3_img.jpg">
        </div>
        <div class="create_auth">
          <div class="auth_head"><img src="assets/img/auth_head.jpg"></div>
          Dataset
          <i class="iconfont icon-shanchu1 self_cursor"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="self_page">
  <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
              [boundaryLinks]="false" [rotate]="false" (numPages)="numPages = $event" [previousText]="previousText" [nextText]="nextText" [pageBtnClass]="'self_page_item'"></pagination>
</div>


