<div class="car-zf" [@flyInOut]="active" [ngStyle]="{'min-height':'calc(100vh - 95px)',background:'#fff'}">
  <div class="zf-head">
    <h5 class="title">车辆功能活跃度列表</h5>
    <div class="tj-select-panel clear-fix">
      <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="search($event,validateForm.value)">
        <div nz-row [nzGutter]="40">
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>车辆型号</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select [(ngModel)]="vehicles" formControlName="vehicle" [nzPlaceHolder]="'请选择车辆型号'" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of vehicleModelEnum" [nzLabel]="option" [nzValue]="option">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>VIN</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-input formControlName="vin" [nzSize]="'normal'" [nzPlaceHolder]="'请输入VIN码'" [(ngModel)]="vin"></nz-input>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>起止时间</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-datepicker style="width: 40%;" formControlName="startForwardTime" (ngModelChange)="startDate=$event;startValueChange()"
                  [ngModel]="startDate" [nzDisabledDate]="disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择开始时间'"></nz-datepicker>-
                <nz-datepicker style="width: 40%;" formControlName="endForwardTime" (ngModelChange)="endDate=$event;endValueChange()"
                  [ngModel]="endDate" [nzDisabledDate]="disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择结束时间'"></nz-datepicker>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>车辆功能配置</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select style="width: 48%;" [nzMode]="'multiple'" formControlName="functionType" [nzPlaceHolder]="'请选择功能配置种类'"
                  nzAllowClear [nzShowSearch]="true" [(ngModel)]="_value" (ngModelChange)="changeConfigType($event)">
                  <nz-option *ngFor="let option of configTypeEnum" [nzLabel]="option.functionType" [nzValue]="option.functionType">
                  </nz-option>
                </nz-select>-
                <nz-select style="width: 48%;" [nzMode]="'multiple'" formControlName="functionName" [nzPlaceHolder]="'请选择功能配置名称'"
                  [nzShowSearch]="true" nzAllowClear [(ngModel)]="_name">
                  <nz-option *ngFor="let option of configNameEnum" [nzLabel]="option.functionShowName" [nzValue]="option.measureIds">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" style="text-align: right;">
            <button nz-button [nzType]="'primary'">查询</button>
            <button nz-button (click)="resetForm($event)">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="zf-body">
    <div><button type="button" class="self-btn" (click)="exportFile()" [disabled]="isExport"><span>{{isExport?'导出中...':'导出'}}</span></button>
      <span *ngIf="isFinding" style="text-align: center;padding-left: 35%;color:#108ee9;">{{importFindText}}<i class="fa fa-spinner fa-pulse"></i></span>
    </div>
    <div>
      <nz-table #nzTable [nzAjaxData]="_dataSet" [nzLoading]="_loading" [nzBordered]="true" [nzShowTotal]="true"
        [nzIsPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th nzWidth="160px" [ngStyle]="{padding:0}">
              <div class="item_colorBox">
                <i title="Black" class="select_colors">
                  <div class="select_black"></div>
                  <span class="name">配置功能名称</span>
                  <span class="weidu">维度</span>
                </i>
              </div>
            </th>
            <th nz-th>累计使用频次（次）</th>
            <th nz-th>平均单车使用频次</th>
            <th nz-th>日平均使用频次（次）</th>
            <th nz-th>累计使用车辆（辆）</th>
            <th nz-th>功能活跃率（%）</th>
            <th nz-th>日均活跃率（%）</th>
            <th nz-th>平均单次使用时长（分钟）</th>
            <th nz-th>平均单车使用时长（分钟）</th>
            <th nz-th>日均使用时长（分钟）</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data; index as i;">
            <td nz-td>
              {{data.functionName}}
            </td>
            <td nz-td>{{data.accumulativeFrequency}}</td>
            <td nz-td>{{data.perVehicleFrequency}}</td>
            <td nz-td>{{data.perDayFrequency}}</td>
            <td nz-td>{{data.accumulativeVehicle}}</td>
            <td nz-td>{{data.functionActivity}}</td>
            <td nz-td>{{data.perDayActivity}}</td>
            <td nz-td>{{data.perUseTime}}</td>
            <td nz-td>{{data.perVehicleUseTime}}</td>
            <td nz-td>{{data.perDayUseTime}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
