<!-- <div bsModal #assertConfirm="bs-modal"  [config]="{backdrop: 'static'}" class="modal fade self_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm self_modal_dialog self_success_modal delete_confirm" >
    <div class="modal-content self_modal_content">
      <div class="modal-header self_modal_header create_success">
        <button type="button" class="close self_close" aria-label="Close" (click)="close()">
          <i class="iconfont icon-guanbigongjulan"></i>
        </button>
      </div>
      <div *ngIf="isDelete" class="delete_icon"><i class="iconfont icon-shanchu"></i></div>
      <div class="delete_text">{{message}}</div>
      <div class="self_clearfix confirm_btn"><button class="self_btn self_left self_cancel" (click)="close()">取消</button><button class="self_btn  self_right c_ef5350" (click)="makeConfirm()">确认</button> </div>
    </div>
  </div>
</div> -->

<div bsModal #assertConfirm="bs-modal" [config]="{backdrop: 'static'}" class="modal fade " tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm delete_confirm">
    <div class="modal-content">
      <div class="modal-header">
        <span class="model-title">{{title}}</span>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <i class="iconfont icon-guanbigongjulan"></i>
        </button>
      </div>
      <div *ngIf="isDelete" class="delete_icon"><i class="iconfont icon-shanchu"></i></div>
      <div class="delete_text">{{message}}</div>
      <div class="muti-btn">
        <div class="invite" [ngStyle]="{width:'70px'}">
          <button (click)="makeConfirm()"><span>确认</span></button>
        </div>
        <div class="invite" [ngStyle]="{width:'70px'}">
          <button (click)="close()"><span>取消</span></button>
        </div>
      </div>
      <!-- <div class="self_clearfix confirm_btn modal-footer text-center">
      <button type="submit" class="btn btn-primary btn-color btn-size"  (click)="makeConfirm()">确认</button>
      <button type="button" class="btn btn-default btn-size" (click)="close()">取消</button>
      </div> -->
    </div>
  </div>
</div>
