<div bsModal #cronBox="bs-modal"  [config]="{backdrop: 'static'}" class="modal fade self_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm self_modal_dialog set_filter_box">
    <div class="modal-content self_modal_content">
      <div class="modal-header self_modal_header">
        <div class="cron-title">设置数据更新规则</div>
        <button type="button" class="close self_close" (click)="closeModal()" aria-label="Close">
          <i class="iconfont icon-guanbigongjulan"></i>
        </button>
      </div>
      <ul class="will_select_list scroll_bar" #willSelectList>
        <li><label class="mock_label" [attr.for]="mock_day">
          <input type="radio" class="input_radio" name="timer" id="mock_day" value="1" [checked]="cronType==1" (click)="cronTypeFn(1)">
          每 <select id="intervalDay" class="select_type"  (change)="changeDay($event)">
          <option *ngFor="let i of cronDay" value="{{i}}" [selected]="intervalDay==i">{{i.toString()}}</option>
        </select> 天自动更新
          <div class="startHour">开始时间 <select id="startTime" class="select_type" (change)="changeStartTime($event)">
            <option *ngFor="let j of cornStartTime" value="{{j}}" [selected]="startTime==j">{{j<10?'0'+j.toString():j.toString()}}:00:00</option>
          </select></div>
        </label> </li>
        <li><label class="mock_label" [attr.for]="mock_hour">
          <input type="radio" class="input_radio" name="timer" id="mock_hour" value="2" [checked]="cronType==2" (click)="cronTypeFn(2)">
          每 <select id="intervalHour" class="select_type" (change)="changeHour($event)">
          <option value="1" [selected]="intervalHour==1">1</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="12">12</option>
        </select> 小时自动更新
        </label> </li>
        <li><label class="mock_label" [attr.for]="mock_none">
          <input type="radio" class="input_radio" name="timer" id="mock_none" value="3" [checked]="cronType==3" (click)="cronTypeFn(3)">
          取消定时更新
        </label></li>
      </ul>
      <div class="set_filter_btn marT20"><button class="self_btn self_cancel self_left" (click)="closeModal()">取消</button><button class="self_btn c_ef5350 self_right" (click)="save()">应用</button></div>
    </div>
  </div>
</div>
