.login_user_bg{background:url("../../assets/img/login_user.jpg") no-repeat left center;}
.login_info{ height: 132px; background: url("../../assets/img/login_info.jpg") no-repeat top center;}
.login_email input{ padding-left: 0; width: 90%;}/*width: 200px;*/
.forget_password{ margin-top: 30px; border-top:1px solid #5a5d6c;padding-top: 20px; text-align: center; }
.forget_password a{ color: #fff;}
.login{background: url("../../assets/img/wallhaven.jpg") no-repeat top center;}
.login_box{ width: 400px; height: 340px; position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -200px;}
.login_title{ line-height: 80px; background: url("../../assets/img/login_bg.png") no-repeat left center; text-align: right;  position:relative;color: #fff; overflow: hidden; height: 72px;}
.login_title button{ margin-left: 20px;}

/*******修改密码*******/
.edit_password{height: 175px; background: url("../../assets/img/edit_password.jpg") no-repeat center center;}
.self_modal_text{ line-height: 30px; font-size: 18px; color: #fff; padding-top:17px; }
.self_modal_text a{ color: #5bb1ff; font-size: 14px; text-decoration: underline;}

/**************/
.err{  line-height: 30px; font-size: 12px; color: #c00; }
.password_right{ position: fixed; right: 0; top: 65px; bottom: 45px; width: 780px; background: url("../../assets/img/set_password_bg.jpg") center  center no-repeat #5344b9;}
.password_left{padding:80px  0 0 60px; width: 450px;}
.password_title{ font-size:20px; color: #333; margin-bottom: 23px; }
.password_btn button{ width: 100%; cursor: pointer; height: 40px;line-height: 40px; border-radius: 3px; background-color: #ee534f;color: #fff; font-size: 16px;}
.typed_tishi{ height: 45px; line-height: 45px; font-size: 12px; color: #333;}
.self_form_group{ position: relative;}
.self_form_group input{ padding-left: 43px;}
.self_form_group i.input_icon{ position: absolute; width: 43px; text-align: center; display: inline-block; line-height: 32px; color: #9ba4bb;}
