<div class="contact_box">
    <div class="contact_header">
        <div class="contact_img"><img src="assets/img/contact.jpg"> </div>
        <div class="contact_sm">DataSee是由unisun集团研究院开发的一款致力于帮助企业简单、快速的<br>理解数据，实现商业决策的智能数据云分析平台</div>
    </div>
    <ul class="contact_content self_clearfix">
        <li>
            <div class="contact_icon"><i class="iconfont icon-map"></i></div>
            <p class="contact_text">地址：<br>北京市朝阳区望京广顺北大街33号院福<br>泰中心9层</p>
        </li>
        <li>
            <div class="contact_icon"><i class="iconfont icon-mail"></i></div>
            <p class="contact_text">邮箱：chenmei@csdn.net</p>
        </li>
    </ul>
</div>