<!--<div class="chang-header clearfix">-->
   <!--<div class="header-title">长安智能网联监控与数据转发系统</div>-->
   <!--<div class="header-right">-->
     <!--<div class="cz">-->
       <!--<a href="javascript:void(0);">-->
         <!--<i class="fa fa-tasks"></i>-->
         <!--数据分析-->
       <!--</a>-->
     <!--</div>-->
     <!--<div class="cz">-->
       <!--<a href="javascript:void(0);">-->
         <!--<i class="fa fa-random fa-2x"></i>-->
         <!--数据转发-->
       <!--</a>-->
     <!--</div>-->
     <!--<div class="user">-->
       <!--<a href="javascript:void(0);"><i class="fa fa-user-circle"></i> 超级用户 ...</a>-->
     <!--</div>-->
   <!--</div>-->
<!--</div>-->
<div class="chang-main clearfix">
  <div class="c-main-left">
      <div class="menu-bar"><i class="fa fa-file-powerpoint-o"></i> 数据协议管理</div>
      <ul>
        <li routerLinkActive="active">
          <a href="javascript:void(0)" routerLink="/chang/car/protocol">协议列表</a>
        </li>
      </ul>
      <div class="menu-bar"><i class="fa fa-sliders"></i> 数据转发配置</div>
      <ul>
        <li routerLinkActive="active">
          <a href="javascript:void(0)"  routerLink="/chang/car/tasks">任务管理</a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:void(0)" routerLink="/chang/car/transmit">转发车辆</a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:void(0)" routerLink="/chang/car/setting">平台配置</a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:void(0)" routerLink="/chang/car/log">转发日志</a>
        </li>
      </ul>
  </div>
  <div class="c-main-right">
      <router-outlet></router-outlet>
  </div>
</div>
