.upload_file_head{ background: url("../../../../assets/img/upload_file.png") no-repeat left center; border-bottom: 1px solid #5a5d6c;}
.self_modal_dialog{ width: 400px;}
/***upload file***/
.modal-body{ padding: 0;}
.modal-footer{ padding: 0; border-top: none; margin-top: 30px;}
.modal-footer button{ width: 49%;}
.modal-footer button:first-child{ float: left}
.modal-footer button:last-child{ float: right}
.upload_file_box{ border:1px solid #dbdde4; border-radius: 3px; background-color: #fff; height: 40px; overflow: hidden; margin-top: 25px;}
.upload_input{ position: relative;  border-right:#dbdde4; width:308px; float: left; padding-left:10px; color: #999; line-height: 38px;}
.upload_input input{position: absolute; left: 0; top: 0; opacity: 0; }
.upload_button{ border:none; background-color: #e6e6e7; width: 90px; text-align: center; line-height: 38px; float: right; color: #333; position: relative; cursor: pointer;}
.upload_button i{ color: #4aa2de; font-size: 20px; vertical-align: middle; margin-right: 5px; }
.upload_button input{ position: absolute; top: 0; left: 0; opacity: 0;}
.upload_tip{ font-size: 14px; color: #fff;  line-height: 24px; margin-top:20px; }
