.set-filter{background: url("../../../assets/img/limit.png") no-repeat left center;}

.set_filter_box{ width: 400px;top:15%;}
.f_search_box{ position: relative;}
.f_search_box label{line-height: 15px;}
.f_search_box input{ width: 75%; border:1px solid #e6eaec;margin-bottom: 10px; color: #666; font-size: 12px; height:38px; line-height: 38px; background-color: #fff; outline: none; border-radius: 3px; padding:0 40px 0 10px;  }
.f_search_box i{ position: absolute; line-height: 38px; top: 0; right: 10px; cursor: pointer;}

.get_val_list{ height: 134px; border:1px solid #e6eaec; padding: 10px; background-color: #fff; border-radius:3px;}
.get_val_list li{ float: left; width: 103px; padding:0 20px 0 10px; position: relative;height:30px; line-height: 28px; background-color: #f0f0f0; color: #666; font-size: 12px; border:1px solid #e7e7e8; margin: 0 10px 10px 0;border-radius: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.get_val_list li i{ color: #f04946; position: absolute;right: 5px; top: 1px; cursor: pointer;}
.clear_condition{ line-height: 36px; color: #fff;    cursor: pointer;}
.clear_condition i{ color: #66938e; margin-right: 10px;}
.set_param_name{ line-height: 30px; color: #fff; margin-top: 10px;}
.set_line{ height: 16px; line-height: 16px; margin-bottom: 10px; display: inline-block; float: right;}
.set_line input{ position: absolute; top: 0px; opacity: 0;}
.set_line input:checked+.mock_radio:after{ display: inline-block;}
.set_filter_btn button{ width: 49%;}
.select_opt{    color: #000;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 10px;width:75%;}
.title_span{    width: 70px;
  display: inline-block;
  text-align: right;}
