<div bsModal #drillDownBox="bs-modal"  [config]="{backdrop: 'static'}" class="modal fade self_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm self_modal_dialog self_success_modal section_dimension" >
    <div class="modal-content self_modal_content">
      <div class="modal-header self_modal_header create_success">
        <span class="dimension_title">下钻</span>
        <button type="button" class="close self_close" aria-label="Close" (click)="closeModal()">
          <i class="iconfont icon-guanbigongjulan"></i>
        </button>
      </div>
      <div class="section_dimension_title">维度</div>
      <ul class="section_dimension_list scroll_bar">
        <ng-template ngFor let-dim [ngForOf]="showDim">
        <li class="first_dimension" [class.checked_bg]="dim.isdrill" [class.showChild]="dim.isdrill" *ngIf="dim.isdrill">
          <div class="dimension_item">
            <i class="iconfont icon-sdcx" (click)="showChildHandle($event)"></i>
            <label>
              <input type="checkbox" [checked]="dim.isdrill"  [disabled]="dim.isdrill"  (change)="changeCheckedState($event,true)">
              <div class="mock_check"></div>
              <span>{{dim.caption}}</span>
            </label>
          </div>
          <ul>
            <ng-template ngFor let-item [ngForOf]="dim.hierarchies">
            <li class="second_dimension" [class.checked_bg]="item.isdrill"  [class.showChild]="item.isdrill" *ngIf="item.isdrill">
              <div class="dimension_item">
                <i class="iconfont icon-sdcx" (click)="showChildHandle($event)"></i><label>
                  <input type="checkbox" [checked]="item.isdrill"  [disabled]="item.isdrill"  (change)="changeCheckedState($event,false)">
                  <div class="mock_check"></div>
                  <span>{{item.caption}}</span>
                </label>
              </div>
              <ul>
                <ng-template ngFor let-level [ngForOf]="item.levels" let-i="index">
                <li class="third_dimension"  [class.checked_bg]="level.isdrill" *ngIf="level.name!='(All)'" [attr.data-index]="i" [attr.data-dim-name]="dim.name"
                    [attr.data-hierarchy]="item.uniqueName" [attr.data-hierarchy-name]="item.name" [attr.data-hierarchy-caption]="item.caption">
                  <div class="dimension_item">
                    <label>
                      <input type="checkbox"  [checked]="level.isdrill" (change)="changeCheckedState($event,false)">
                      <div class="mock_check"></div>
                      <span>{{level.caption}}</span>
                    </label>
                  </div>
                </li>
                </ng-template>
              </ul>
            </li>
            </ng-template>
          </ul>
        </li>
        </ng-template>
      </ul>
      <div class="self_clearfix confirm_btn marT20"><button class="self_btn self_left c_a0a1a1" (click)="closeModal()">取消</button><button class="self_btn  self_right c_ef5350" (click)="drillDown()">保存</button> </div>
    </div>
  </div>
</div>
