<div class="page_tab_box">
  <ul *ngIf="dashboard.content.length>0" class="p_page_list self_clearfix" [class.p_page_list_template]="isTemplate && !isPreview" #pageList>
    <li *ngFor="let page of dashboard.content;let i = index" [class.current]="page.id === curPage.id" (click)="changeCurPage(page,$event)" title="{{page.name}}">{{page.name}}</li>
  </ul>
  <ul *ngIf="dashboard.content.length===0" class="p_page_list self_clearfix">
    <li>&nbsp;</li>
  </ul>
  <div class="preview_operate_list self_clearfix" >
    <div class="replace_template_data self_clearfix" *ngIf="isTemplate && isPreview"><a href="javascript:void(0);">替换模板数据</a></div>
    <div class="more_operate">
      <i class="iconfont icon-gengduo1"></i>
      <ul class="operate_item_list">
        <li [routerLink]="[ '/dashboard/update',dashboard.dashboardID ]"><i class="iconfont icon-qianming"></i><span>编辑dashboard</span></li>
        <li *ngIf="dashboard.dashboardID" (click)="resourcePermissionModal.show(dashboard.dashboardID,dashboard.dashboardName,RESOURCE_TYPE_DASHBOARD)"><i
          class="iconfont icon-iconshezhi01"></i><span>设置权限</span></li>
        <li ><i class="iconfont icon-iconfontxiazai"></i><span>下载pdf</span></li>
      </ul>
    </div>
    <span>|</span>
    <div class="dashboard_auth"><a [routerLink]="['/dashboard/list',{ createdBy: dashboard.createdBy }]" title="{{dashboard.createdBy}}"><img
      src="{{dashboard.createUserAvatarUrl}}"></a></div>
  </div>
</div>
<div class="p_panel_box">
  <div class="panel_content_box">
    <div class="panel-dash-board">
      <div class="date-select-box">
         <div nz-row>
           <div nz-col [nzSpan]="8">
           </div>
           <div nz-col [nzSpan]="16" style="text-align: right">
             <nz-datepicker style="width: 35%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'开始时间'"></nz-datepicker>
             - <nz-datepicker style="width: 35%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
             <label nz-checkbox [(ngModel)]="isWorkDay" style="padding-left: 5px;">
               <span>工作日</span>
             </label>
             <button nz-button [type]="'info'" (click)="print()">获取</button>
           </div>
         </div>
      </div>
      <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="chang-chart"></div>
      <div class="head-name-panel" *ngIf="axisList.length>0">
        <ul class="clear-fix">
          <li *ngFor="let x of axisList" [style.width]="100/axisList.length+'%'">{{x}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
