<div class="app_main container-fluid no_padding self_clearfix" #appmain>
  <div class="password_left col-md-5 col-lg-5 col-sm-5">
    <div class="password_title">设置登录密码</div>
    <div *ngIf="submited" style="color:red; font-weight: bold;">提交失败，请重新提交</div>
    <form class="set_psw" (ngSubmit)="onSubmit()" role="form" #setPsw ="ngForm">
      <div class="self_form_group">
        <i class="iconfont icon-mima input_icon"></i>
        <input type="password" placeholder="设置一个密码" #psw [ngModel]="password" (ngModelChange)="passwordChange(psw.value)" (blur)="onPswBlur()"name="psw" required  class="form-control" id="psw">
        <div class="self_error" *ngIf="pswErr" ><i class="iconfont icon-buzhengque"></i>请输入正确格式</div>
      </div>
      <div class="typed_tishi">大于6个字符的字母、数字或特殊字符</div>
      <div class="self_form_group">
        <i class="iconfont icon-daiqueren input_icon"></i>
        <input type="password" placeholder="确认密码" #pswConfirm1 [ngModel]="pswConfirm" (ngModelChange)="pswConfirmChange(pswConfirm1.value)" (blur)="onPswConfirmBlur()"  name="pswConfirm" required  class="form-control" id="pswConfirm">
        <div class="self_error" *ngIf="pswConfirmErr" ><i class="iconfont icon-buzhengque"></i>请输入正确格式</div>
      </div>
      <div class="col-sm-offset-2 err col-sm-8" *ngIf="consistencyErr">确认密码和密码不同,请输入相同的密码</div>
      <div class=" marT20">
          <button type="submit" class="self_btn c_ef5350" [disabled]="!((passwordGrade != null ) && (pswConfirmGrade != null) && (pswConfirm1.value == psw.value )) ">注册成功</button>
      </div>
    </form>
  </div>
  <div class="password_right col-md-7 col-lg-7 col-sm-7" #passwordRight></div>
</div>

