<div class="head_dashboard_list self_clearfix" *ngIf="showMenuList.length>0">
  <div class="cur_dashboard_bg"></div>
  <div class="manage_dashboard_btn"><i class="iconfont icon-dashboardwtdlc"></i></div>
  <ul class="h_dashboard_list" >
    <!-- <li><a routerLink="/welcome">如何使用datasee</a></li> -->
    <li *ngFor="let menu of showMenuList" class="self_ellipsis" [attr.id]="menu.id" title="{{menu.name}}">
      <a routerLink="/chang/conf-dashboard/{{menu.id}}" routerLinkActive="selected" title="{{menu.name}}">{{menu.name}}</a>
    </li>
  </ul>
  <!--<div class="more_box" *ngIf="hiddenDashboardList.length > 0">-->
    <!--<div class="more_btn" [class.select_more_btn]="inMore">更多<i class="iconfont icon-jiantouzuo-copy"></i></div>-->
    <!--<div class="more_down_box scroll_bar">-->
      <!--<div class="more_down_search">-->
        <!--<input type="text" placeholder="搜索" (keyup)="search($event.target.value)">-->
        <!--<i class="iconfont icon-fangdajing"></i>-->
      <!--</div>-->
      <!--<ul class="hidden_dashboard_lsit  scroll_bar">-->
        <!--<li *ngFor="let dashboard of hiddenDashboardList" class="self_ellipsis"  [class.cur]="dashboard.dashboardID == dashboardID" title="{{dashboard.dashboardName}}"><a routerLink="/dashboard/{{dashboard.dashboardID}}">{{dashboard.dashboardName}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>
