/*.user_fixed{position: absolute; left: 0; right: 0; top: 76px; bottom:45px; width: 100%; }*/
.data_main {
  /*position:absolute; left: 0;top: 76px;bottom: 45px; right: 0;*/
  width: 100%;
  position: relative;
  // padding: 16px 0 0;
  padding: 0;
  background-color: #fff;

  .ant-tabs-bar {
    // height: 31px !important;
    background: #e0e0e0;
    margin-bottom: 0 !important;
  }
}

.data_nav {
  // padding: 0px 16px 0px;
  background: #313447;
}

.connector_title {
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

.data_box {
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
  overflow: hidden;
}

.data_source_name {
  border-bottom: 1px solid #e6eaec;
  line-height: 54px;
  font-size: 16px;
  color: #333;
  padding-left: 30px;
  position: relative;
}

.data_source_name i {
  position: absolute;
  font-size: 24px;
  top: 0;
  color: #55bc9c;
}

.data_source_name i.icon_tit {
  left: 0;
}

.data_source_name i.err_icon {
  display: none;
  left: 0;
}

.data_source_name i.list_fold {
  right: 0;
  color: #859acf;
  cursor: pointer;
}

.input_error i.err_icon {
  display: block;
  color: #ef5350;
}

.input_error i.icon_tit {
  display: none;
}

.input_error span {
  margin-left: 10px;
  color: #ef5350;
  font-size: 12px;
}

.data_input {
  position: relative;
  width: 750px;
  height: 38px;
  line-height: 38px;
  background-color: #f7f7f7;
  border: 1px solid #e6eaec;
  padding: 0 20px 0 40px;
  margin-left: 20px;
  border-radius: 3px;
}

.data_input input {
  outline: none;
  border: none;
  font-size: 12px;
  color: #999;
  line-height: 34px;
  width: 500px;
  background-color: transparent;
}

.data_input input:focus {
  color: #333;
}

.data_input i {
  color: #859acf;
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 18px;
}

.data_input i.icon-ip {
  font-size: 20px;
}

.data_input_label {
  line-height: 54px;
  font-size: 14px;
  color: #333;
}

.data_textarea {
  width: 570px;
  border: 1px solid #e6eaec;
  background-color: #f7f7f7;
  height: 120px;
  border-radius: 3px;
  overflow: hidden;
}

.data_textarea textarea {
  width: 100%;
  border: none;
  resize: none;
  padding: 10px;
  line-height: 20px;
  height: 100%;
  font-size: 12px;
  outline: none;
  background-color: transparent;
}

.input_port {
  padding-left: 10px;
}

.data_btn {
  border: none;
  outline: none;
  background-color: #4aa2de;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.test_button {
  position: absolute;
  right: -150px;
  top: -2px;
  width: 122px;
}

.test_button button {
  width: 122px;
  height: 38px;
  line-height: 38px;
}

.form_btn {
  width: 116px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
}

.mysql_btn button {
  float: right;
  display: block;
  margin-left: 20px;
}

.mysql_btn .cancel {
  background-color: #a0a1a1;
}

.mysql_btn .save {
  background-color: #ef5350;
}

.sync_radio {
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #666;
  position: relative;
}

.sync_radio label {
  position: relative;
  z-index: 99;
  padding-left: 25px;
}

.sync_radio input {
  display: none;
}

.sync_radio .radio_btn {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 20px;
  left: 0;
  background-color: #d5d6d8;
}

.sync_radio .radio_btn:before {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 50%;
  background-color: #fff;
  left: 2px;
  top: 2px;
}

.sync_radio input:checked+.radio_btn {
  background-color: #5dbea0;
}

.sync_radio input:checked+.radio_btn:after {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  content: '';
  left: 6px;
  top: 6px;
  background-color: #5dbea0
}

.sync_select select {
  outline: none;
  width: 190px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #e6eaec;
  background-color: #f7f7f7;
  padding: 0 10px;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  float: left;
  margin-right: 10px;
}

.data_list_box {
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 0px 0 40px;
  position: relative;
}

.data_nav li {
  width: 125px;
  float: left;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #666;
  font-size: 14px;
  background-color: #f4f4f4;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.data_nav li.cur {
  background-color: #fff;
  color: #4c86c4;
  border: none;
}

.list_box {
  /*position: absolute; left: 0; right: 0; top: 56px; bottom: 40px;*/
  width: 100%;
  background-color: #fff;
  border-radius: 0 5px 5px 5px;
  padding-bottom: 30px;
}

.sure_btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #ef5350;
  font-size: 18px;
  color: #fff;
}

/***set source style**/
.data_list_container {
  width: 100%;
}

.add_source {
  height: 70px;
  padding: 0 20px;
}

.add_source span {
  line-height: 70px;
  font-size: 14px;
  color: #333;
}

.add_source .form_btn {
  background-color: #ef5350;
  float: right;
}

.data_list_head {
  margin: 0 20px;
  border: 1px solid #e6eaec;
  background-color: #f8f8f8;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.data_list_body {
  margin: 0 20px;
}

.data_list_body li {
  height: 66px;
  line-height: 64px;
  border-bottom: 1px solid #e6eaec;
  text-align: center;
}

.data_list_body li:hover {
  background-color: #f9f9f9;
}

.data_list_body li:hover .operate {
  display: block;
}

.data_list_body li:last-child {
  border-bottom: none;
}

.data_list_body a {
  color: #4c86c4;
}

.data_list_body .data_name {
  padding-left: 86px;
  text-align: left;
  position: relative;
}

.data_list_body .add_time {
  font-size: 12px;
  color: #9ba6c0;
}

.data_list_body .account {
  font-size: 12px;
  color: #666;
}

.data_list_body .data_update {
  display: table;
}

.data_list_body .data_set {}

.data_list_body .operate {
  text-align: right;
  color: #859acf;
  display: none;
}

.data_list_body .operate i {
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.data_list_body .operate .icon-chuangjianhuodong {}

.data_list_body .operate .icon-qianming {}

.data_list_body .operate .icon-shanchu1,
.data_list_body .operate .icon-shanchu {
  color: #f05956
}

.source_logo {
  position: absolute;
  width: 76px;
  height: 66px;
  left: 10px;
  top: 0;
}

.data_source_sources {
  background: url("../../../assets/img/data_source_sources.png") no-repeat center center;
}

.data_source_code {
  background: url("../../../assets/img/data_source_code.png") no-repeat center center;
}

.data_source_jira {
  background: url("../../../assets/img/data_source_jira.png") no-repeat center center;
}

.data_source_git {
  background: url("../../../assets/img/data_source_git.png") no-repeat center center;
}

.data_source_excel {
  background: url("../../../assets/img/data_source_excel.png") no-repeat center center;
}

.data_source_mysql {
  background: url("../../../assets/img/data_source_mysql.png") no-repeat center center;
}

.data_source_hive2 {
  background: url("../../../assets/img/data_source_hive2.png") no-repeat center center;
}

.data_source_kylin {
  background: url("../../../assets/img/data_source_kylin.png") no-repeat center center;
}

.data_source_isource {
  background: url("../../../assets/img/data_source_isource.png") no-repeat center center;
}

.data_source_impala {
  background: url("../../../assets/img/data_source_impala.png") no-repeat center center;
}

.source_type {
  background: url("../../../assets/img/source_type_bg.jpg") no-repeat left center;
  border-bottom: 1px solid #5a5d6c;
}

.had_selected {
  line-height: 50px;
  font-size: 14px;
  color: #fff;
}

.source_type_list li {
  float: left;
  width: 190px;
  height: 75px;
  margin-right: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.type_item {
  width: 191px;
  cursor: pointer;
  height: 75px;
  background: url("../../../assets/img/source_type.png") no-repeat;
}

.source_type_list li:nth-of-type(even) {
  margin-right: 0;
}

.source_type_list input {
  display: none;
}

.mysql_bg {
  background-position: -6px -4px;
}

.jira_bg {
  background-position: -6px -97px
}

.csv_bg {
  background-position: -6px -200px
}

.github_bg {
  background-position: -6px -283px
}

.code_bg {
  background-position: -6px -376px
}

.kylin_bg {
  background-position: -6px -469px;
}

.hive2_bg {
  background-position: -6px -562px;
}

.isource_bg {
  background-position: -6px -655px;
}

.impala_bg {
  background-position: -6px -749px;
}

.source_type_list li:hover .mysql_bg {
  background-position: -215px -4px;
}

.source_type_list li:hover .jira_bg {
  background-position: -215px -97px;
}

.source_type_list li:hover .csv_bg {
  background-position: -215px -200px;
}

.source_type_list li:hover .github_bg {
  background-position: -215px -283px;
}

.source_type_list li:hover .code_bg {
  background-position: -215px -376px;
}

.source_type_list li:hover .kylin_bg {
  background-position: -215px -469px;
}

.source_type_list li:hover .hive2_bg {
  background-position: -215px -562px;
}

.source_type_list li:hover .isource_bg {
  background-position: -215px -655px;
}

.source_type_list li:hover .impala_bg {
  background-position: -215px -749px;
}

.source_type_list li:hover .operate {
  display: block;
}

.source_type_list input:checked+.mysql_bg {
  background-position: -424px -4px;
}

.source_type_list input:checked+.jira_bg {
  background-position: -424px -97px;
}

.source_type_list input:checked+.csv_bg {
  background-position: -424px -200px;
}

.source_type_list input:checked+.github_bg {
  background-position: -424px -283px;
}

.source_type_list input:checked+.code_bg {
  background-position: -424px -376px;
}

.source_type_list input:checked+.kylin_bg {
  background-position: -424px -469px;
}

.source_type_list input:checked+.hive2_bg {
  background-position: -424px -562px;
}

.source_type_list input:checked+.isource_bg {
  background-position: -424px -655px;
}

.source_type_list input:checked+.impala_bg {
  background-position: -424px -749px;
}

.test_error {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ef5350;
  right: 20px;
}

.test_error i {
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.err_test {
  width: 16px;
  height: 16px;
  box-shadow: 0 0 1px #fff;
  color: #fff;
  background-color: #ef5350;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  right: 10px;
  bottom: 15px;
  border: 1px solid #fff;
  font-weight: bold;
}

.not_source {
  min-height: 500px;
  position: relative;
}

.not_source_con {
  width: 280px;
  height: 200px;
  background: url("../../../assets/img/not_source.jpg") no-repeat center top;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  top: 50%;
  margin-top: -100px;
  padding-top: 160px;
  text-align: center;
  font-size: 16px;
  color: #999;
}

.set_name i {
  font-size: 20px;
  color: #859acf;
  margin-left: 3px;
  vertical-align: middle;
}

/***set source style**/
.data_focus_box {
  border: 1px solid #a4caed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
}

.moveBtn {
  margin: 110px 35px 0;
  width: 30px;
}

.pointBtn {
  height: 30px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e5e5e5;
  line-height: 28px;
  text-align: center;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.pointBtn:hover {
  background-color: #4aa2de;
  color: #fff;
}

.custom_set_list {
  top: 45px !important;
}

.custom_source_list {
  top: 45px !important;
  left: 130px !important;
}

.custom_source_list1 {
  top: 45px !important;
  left: 2px !important;
}

.list_text_align {
  text-align: left;
  padding-left: 25px;
}

.text_align_left {
  text-align: left;
}



/** search */
.search_set {
  float: left;
  width: 230px;
  height: 28px;
  overflow: hidden;
  border: 1px solid #dde0e2;
  border-radius: 3px;
  position: relative;
}

.search_set input {
  width: 100%;
  line-height: 26px;
  padding-left: 30px;
  padding-right: 20px;
  color: #999;
  border: none;
  outline: none;
}

.search_set i {
  position: absolute;
  left: 7px;
  color: #686873;
  top: 4px;
  font-size: 14px;
}

.set_sort_type {
  float: left;
  color: #666;
  padding: 0 10px;
  width: 170px;
  outline: none;
  height: 28px;
  border: 1px solid #dde0e2;
  line-height: 26px;
  border-radius: 3px;
}

.time_sort_type {
  cursor: pointer;
  float: left;
  width: 110px;
  height: 28px;
  border: 1px solid #dde0e2;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.time_sort_type span {
  text-align: center;
  line-height: 26px;
  float: left;
  display: block;
  width: 90px;
  height: 26px;
  border-right: 1px solid #dde0e2;
  box-shadow: 1px 0 0 #fff;
}

.sort_btn {
  display: block;
  width: 18px;
  float: right;
  position: relative;
}

.sort_btn:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 6px;
  right: 3px;
  border-bottom: 6px solid #999;
  border-left: 5px solid transparent;
  content: '';
  border-right: 5px solid transparent;
  border-top: none;
}

.sort_btn:after {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 14px;
  right: 3px;
  border-top: 6px solid #999;
  border-left: 5px solid transparent;
  content: '';
  border-right: 5px solid transparent;
  border-bottom: none;
}

.sort_up:before {
  border-bottom-color: #ef5350;
}

.sort_down:after {
  border-top-color: #ef5350;
}

.add_dataset_btn {
  float: right;
  width: 116px;
}

.add_dataset_btn button {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.set_column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


$border-left-color:#5187EE;
$header-from: #002140;
$header-end: #3F469B;

.chang-header {
  //background-image: radial-gradient(1% -30%, #002140 0%, #3F465B 100%);
  //background-color: #002140;
  background: -webkit-linear-gradient(left, $header-from, lighten($header-end, 10%));
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, $header-from, lighten($header-end, 10%));
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, $header-from, lighten($header-end, 10%));
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, $header-from, lighten($header-end, 10%));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 65px;

  .header-title {
    font-family: PingFangSC-Medium, serif;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 65px;
    float: left;
  }

  .header-right {
    width: 400px;
    color: #fff;
    float: right;
    padding-right: 20px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .cz {
      font-size: 16px;
      text-align: center;
      width: 100px;

      a {
        display: inline-block;
        margin-top: 10px;
      }

      i {
        display: block;
        font-size: 24px;
      }

      float: left;
    }

    .user {
      line-height: 65px;
      float: right;
    }

  }
}

@media screen and (max-width: 800px) {
  .chang-header .header-right .cz {
    display: none;
  }

  .chang-header .header-right {
    width: 120px;
  }
}

.chang-main {
  width: 100%;
  height: 100vh;

  .c-main-left {
    width: 200px;
    background-color: #37405A;
    float: left;
    height: 100%;
    position: fixed;
    top: 46px;
    left: 0;

    ul li {
      width: 100%;
      text-align: center;
      padding: 10px 20px 10px 10px;
      font-size: 16px;

      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: inline-block;
      }

      &:hover {
        transition: font-size .1s ease-in-out;
        font-size: 1.5rem;
      }

      &.active {
        background-color: #4465DE;
        border-left: 4px solid lighten($border-left-color, 10%);
      }
    }
  }

  .c-main-right {
    margin-left: 200px;
    margin-top: 65px;
    background-color: #ddd;
    //height: 100%;
    min-height: 100%;
    padding: 20px;
    overflow: auto;
  }

  .menu-bar {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 5px 10px;
  }
}

ul li {
  list-style: none;
}

.user_fixed {
  /*position: absolute; left: 0; right: 0; top: 76px; bottom:45px;*/
  min-width: 100px;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.user_left {
  width: 195px;
  height: 100%;
  background-color: #f0f0f0;
  border-right: 1px solid #cfcfcf;
  float: left;
}

.sub_nav {
  padding: 0;
  margin: 0;
}

.sub_nav a {
  display: block;
  width: 100%;
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  text-decoration: none;
  border-left: 2px solid #f0f0f0;
  font-size: 14px;
  padding-left: 35px;

  &:hover span {
    transition: font-size .1s ease-in-out;
    font-size: 1.2rem;
  }
}

.sub_nav a.cur {
  border-left-color: #1f7acc;
  background-color: #727981;
  color: #fff;
}

.sub_nav .sub_li a.dropDown {
  background-color: #f9ebeb;
  color: #fff;
}

.sub_nav a span {
  color: #323757;
  line-height: 42px;
  vertical-align: top;
}

.sub_nav a i {
  color: #676972;
  width: 36px;
  display: inline-block;
  font-size: 22px;
}

.sub_nav i {
  font-size: 16px !important;
}

.sub_nav a.cur span,
.sub_nav a.cur i {
  color: #fff;
}

.sub_nav .sub_li a {
  padding-left: 55px;
  background-color: #e0e0e0;
  font-size: 12px;
}

.sub_nav .sub_li a.cur {
  border-left-color: #1f7acc;
  background-color: #727981;
  color: #fff;
}

/*.nav_title{ height:72px; line-height: 72px; padding-left: 40px; font-size: 24px; font-weight: bold; color: #313447;}*/
.nav_title {
  height: 72px;
  width: 100%;
  line-height: 72px;
  text-align: center;
  border-bottom: 1px solid #ddd;

  i {
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  span {
    font-weight: bolder;
    font-size: 18px;
    color: #333;
  }
}

.nav_title i {
  font-size: 28px;
  font-weight: normal;
  margin-right: 14px;
}

.showDropDown {
  display: none;
}

a:focus {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.mysql_title {
  padding-left: 116px;
  background: url("../../../assets/img/mysql_bg.jpg") no-repeat left center;
}

.kylin_title {
  padding-left: 116px;
  background: url("../../../assets/img/kylin_bg.png") no-repeat left center;
}

.hive2_title {
  padding-left: 116px;
  background: url("../../../assets/img/hive2_bg.png") no-repeat left center;
}

.code_title {
  padding-left: 116px;
  background: url("../../../assets/img/code_bg.jpg") no-repeat left center;
}


.impala_title {
  padding-left: 116px;
  background: url("../../../assets/img/impala_bg.png") no-repeat left center;
}

.full_height {
  overflow: auto;
  background-color: #e5e5e5;
  padding: 0px 50px 20px 50px;
  min-height: calc(100vh - 86px);
}

.ant-tabs-nav .ant-tabs-tab a {
  padding: 10px 20px !important;
  display: inline-block;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 0 !important;
  margin-right: 0 !important;
}



.isource_title {
  padding-left: 116px;
  background: url("../../../assets/img/isource_bg.png") no-repeat left center;
}

.sync_radio {
  height: 56px;
  line-height: 56px;
  padding-left: 25px;
  font-size: 14px;
  color: #666;
  position: relative;
}

.sync_radio input {
  display: none;
}

.sync_radio .radio_btn {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 20px;
  left: 0;
  background-color: #d5d6d8;
}

.sync_radio .radio_btn:before {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 50%;
  background-color: #fff;
  left: 2px;
  top: 2px;
}

.sync_radio input:checked+.radio_btn {
  background-color: #5dbea0;
}

.sync_radio input:checked+.radio_btn:after {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  content: '';
  left: 6px;
  top: 6px;
  background-color: #5dbea0
}

.sync_select select {
  outline: none;
  width: 190px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #e6eaec;
  background-color: #f7f7f7;
  padding: 0 10px;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  float: left;
  margin-right: 10px;
}


/****/
.item_box {
  width: 400px;
  border: 1px solid #e6eaec;
  border-radius: 3px;
  height: 345px;
  margin-bottom: 40px;
  position: relative;
}

.item_box_page {
  height: 20px;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}

.item_title {
  height: 42px;
  padding: 0 20px;
  line-height: 40px;
  border-bottom: 1px solid #e6eaec;
  font-size: 12px;
  color: #333;
  background-color: #f7f7f7;
}

.select_tabel {
  width: 900px;
}

.item_list {
  height: 300px;
}

.item_list li {
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #333;
  margin-top: 12px;
  background-color: #f9f9f9;
  padding: 0 40px 0 50px;
  cursor: pointer;
  position: relative;
}

.item_list li:hover {
  background-color: #fffff5;
}

.item_list li.selected {
  background-color: #e1e1e1;
}

.item_list i {
  color: #859acf;
  position: absolute;
  top: 0;
}

.item_list i.left_icon {
  left: 15px;
}

.item_list i.right_icon {
  right: 15px;
}

.has_selected li:before,
.has_selected li:after {
  content: '';
  position: absolute;
  overflow: hidden;
  display: block;
  font-size: 0;
}

.has_selected li:before {
  width: 8px;
  height: 2px;
  background-color: #859acf;
  right: 30px;
  top: 18px;
}

.has_selected li:after {
  width: 2px;
  height: 8px;
  background-color: #859acf;
  right: 33px;
  top: 15px;
}

.item_list .icon-shujubiao {
  font-size: 22px;
  vertical-align: middle;
}

.item_list .icon-yulan3 {
  float: right;
  font-size: 18px;
}

.set_gx {
  width: 900px;
  text-align: right;
  margin-top: 15px;
}

.default_sql {
  width: 900px;
}

.default_sql i {
  margin-right: 5px;
  color: #859acf
}

.default_textarea {
  width: 900px;
  border: 1px solid #e6eaec;
  border-radius: 3px;
  height: 166px;
  position: relative;
}

.default_textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  line-height: 28px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.default_textarea i {
  position: absolute;
  right: -30px;
  top: -6px;
  font-size: 20px;
  color: #859acf;
  cursor: pointer;
}

.create_success {
  background: url("../../../assets/img/create_success_bg.jpg") no-repeat top center;
  height: 216px;
}

.self_success_modal {
  width: 226px;
}

.success_text p {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #fff;
}

.success_text p:first-child {
  font-size: 18px;
}

.success_text i {
  font-size: 14px;
  margin-right: 10px;
}

.success_text a {
  color: #5bb1ff;
  text-decoration: underline;
}

.has_select_project {
  margin: 10px 0 13px 0;
  line-height: 28px;
  color: #666;
  padding-left: 20px;
}

.has_select_project button {
  width: 100px;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 28px;
  font-size: 14px;
}

.item_title {
  position: relative;
}

.search_project {
  width: 220px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 8px;
  line-height: 24px;
}

.search_project input {
  height: 24px;
  line-height: 22px;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0 25px 0 10px;
  color: #999;
}

.search_project i {
  position: absolute;
  color: #b4b7c6;
  right: 7px;
  top: 0;
  font-size: 12px;
}

.sync_radio {
  padding-left: 20px;
}

.sync_radio label {
  margin-right: 45px;
}

.item_box_page a {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  background-color: #c1cde7;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.item_box_page a.disable {
  background-color: #efefef;
}

.item_box_page a i {
  font-size: 12px;
  cursor: default;
}

.show_data {
  background: url("../../../assets/img/show_data_bg.jpg") no-repeat left center;
}

.self_modal_dialog {
  width: 400px;
}

.data_show_box {
  width: 100%;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}

.data_table {
  height: 460px;
}

.data_show_box table {
  border: 1px solid #dbdbdb;
}

.data_show_box th {
  line-height: 40px;
  border-right: 1px solid #dbdbdb;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #dbdbdb;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 20px;
}

.data_show_box td {
  line-height: 30px;
  border-right: 1px solid #dbdbdb;
  color: #666;
  white-space: nowrap;
  padding: 0 20px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}

.data_show_box tr td:last-child {
  border-right: none;
}

.data_show_box tbody tr:last-child td {
  border-bottom: none;
}
