<div class="car-zf" [@flyInOut]="'active'">
  <div class="zf-head">
    <!-- <div class="zf-title">
      <p></p>转发日志
    </div> -->
    <h5 class="title">转发日志</h5>
    <nz-tabset [(nzSelectedIndex)]="currentTabIndex">
      <nz-tab *ngFor="let tab of tabs">
        <ng-template #nzTabHeading>
          {{tab.name}}
        </ng-template>
      </nz-tab>
    </nz-tabset>

    <div class="tj-select-panel clear-fix" [style.display]="currentTabIndex===0?'block':'none'">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit($event,validateForm.value)" class="ant-advanced-search-form">
        <div nz-row [nzGutter]="40">
          <!--<div nz-col [nzSpan]="8">-->
            <!--<div nz-form-item nz-row>-->
              <!--<div nz-form-label nz-col [nzSpan]="5">-->
                <!--<label>车牌号</label>-->
              <!--</div>-->
              <!--<div nz-form-control nz-col [nzSpan]="19">-->
                <!--<nz-input formControlName="licensePlate" [nzSize]="'normal'" [nzPlaceHolder]="'请输入车牌号'"></nz-input>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>VIN</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-input formControlName="vin" [nzSize]="'normal'" [nzPlaceHolder]="'请输入VIN码'"></nz-input>
              </div>
            </div>
          </div>

          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>目标平台</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select formControlName="forwardPlatform" [nzPlaceHolder]="'请选择目标平台'" [nzShowSearch]="true"
                  nzAllowClear>
                  <nz-option *ngFor="let option of platforms" [nzLabel]="option.unitName" [nzValue]="option.id">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>转发类型</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select formControlName="forwardType" nzAllowClear>
                  <nz-option *ngFor="let option of typeOptions" [nzLabel]="option.label" [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>转发方式</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select formControlName="forwardMode" nzAllowClear>
                  <nz-option *ngFor="let option of fsOptions" [nzLabel]="option.label" [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>转发结果</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select formControlName="forwardResult" nzAllowClear>
                  <nz-option *ngFor="let option of resOptions" [nzLabel]="option.label" [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [style.width.%]="5/36*100" style="float: left;flex:0 0 auto;">
                <label>转发时间</label>
              </div>
              <div nz-form-control nz-col [style.width.%]="(1-5/36)*100" style="float: left;flex:0 0 auto;">
                <nz-datepicker formControlName="startForwardTime" [(ngModel)]="startDate" style="width: 40%" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                  [nzPlaceHolder]="'请选择开始时间'"></nz-datepicker> -
                <nz-datepicker formControlName="endForwardTime" [(ngModel)]="endDate" style="width: 40%" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                  [nzPlaceHolder]="'请选择结束时间'"></nz-datepicker>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" style="text-align: right;">
            <button nz-button [nzType]="'primary'">查询</button>
            <button nz-button (click)="resetForm($event)">重置</button>
          </div>
        </div>
      </form>

    </div>
    <div class="dr-select-panel clear-fix" [style.display]="currentTabIndex===1?'block':'none'">
      <form nz-form class="ant-advanced-search-form">
        <div nz-row [nzGutter]="40">
          <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="4">
                <label>查询文件</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="20">
                <app-uploader-tool #uploader [url]="uploadUrl" [isTime]="true" [start]="startDate2" [end]="endDate2" (success)="getUploadResponse($event)" (fail)="uploadFail($event)"></app-uploader-tool>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="12">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="4" style="margin-left: -15px;">
                <label>转发时间</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="20">
                <nz-datepicker [(ngModel)]="startDate2" [ngModelOptions]="{standalone: true}" style="width: 40%" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                               [nzPlaceHolder]="'请选择开始时间'"></nz-datepicker> -
                <nz-datepicker [(ngModel)]="endDate2" [ngModelOptions]="{standalone: true}" style="width: 40%" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                               [nzPlaceHolder]="'请选择结束时间'"></nz-datepicker>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24">
            <div nz-row>
              <div nz-col [nzSpan]="12" style="text-align: left;">
                <a href="javascript:void(0)" (click)="downDoc()"><i class="anticon anticon-download"></i> 下载导入查询模板</a>
              </div>
              <div nz-col [nzSpan]="12" style="text-align: right;">
                <!--<button nz-button [nzType]="'primary'">查询</button>-->
                <button nz-button (click)="resetUploadForm()">重置</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="zf-body">
    <div>
      <button type="button" class="self-btn" *ngIf="currentTabIndex===0" (click)="exportLog(validateForm.value)" [disabled]="isExport"><span>{{isExport?'导出中...':'导出'}}</span></button>
    </div>
    <!-- <div class="export-file">
      <button nz-button [nzType]="'primary'" (click)="exportLog()">导出</button>
    </div> -->
    <div [style.display]="currentTabIndex===0?'block':'none'">
      <nz-table #nzTable [nzAjaxData]="_dataSet" [nzShowSizeChanger]="true" [nzLoading]="_loading" [nzTotal]="_total"
        [(nzPageIndex)]="_current" (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)"
        [nzBordered]="true" [nzShowTotal]="true" [nzShowQuickJumper]="true">
        <thead nz-thead>
          <tr>
            <th nz-th><span>序号</span></th>
            <th nz-th><span>车牌号</span></th>
            <th nz-th><span>VIN</span></th>
            <th nz-th><span>目标平台</span></th>
            <th nz-th><span>转发时间</span></th>
            <th nz-th><span>转发类型</span></th>
            <th nz-th><span>转发方式</span></th>
            <th nz-th><span>转发结果</span></th>
            <!--<th nz-th><span>操作</span></th>-->
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data; index as i;">
            <td nz-td>{{i+1}}</td>
            <td nz-td>{{data.licensePlate}}</td>
            <td nz-td>{{data.vin}}</td>
            <td nz-td>{{data.forwardPlatform}}</td>
            <td nz-td>{{data.forwardTime}}</td>
            <td nz-td>{{data.forwardType}}</td>
            <td nz-td>{{data.forwardMode}}</td>
            <td nz-td>{{data.forwardResult}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div style="display: none">
      <div style="padding-bottom:10px" *ngIf="_notFindNum>0">共找到{{_hasFindNum}}辆，未找到<a href="javascript:void(0);" (click)="exportUnHandleData()">{{_notFindNum}}</a>辆</div>
      <nz-table #nzTable2 [nzDataSource]="_dataSet2" [nzPageSize]="_pageSize2" [nzShowSizeChanger]="true" [nzBordered]="true" [nzShowTotal]="true">
        <thead nz-thead>
        <tr>
          <th nz-th><span>序号</span></th>
          <th nz-th><span>车牌号</span></th>
          <th nz-th><span>VIN</span></th>
          <th nz-th><span>接收平台</span></th>
          <th nz-th><span>转发时间</span></th>
          <th nz-th><span>转发类型</span></th>
          <th nz-th><span>转发方式</span></th>
          <th nz-th><span>转发结果</span></th>
          <!--<th nz-th><span>操作</span></th>-->
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable2.data; index as i;">
          <td nz-td>{{i+1}}</td>
          <td nz-td>{{data.licensePlate}}</td>
          <td nz-td>{{data.vin}}</td>
          <td nz-td>{{data.forwardPlatform}}</td>
          <td nz-td>{{data.forwardTime}}</td>
          <td nz-td>{{data.forwardType}}</td>
          <td nz-td>{{data.forwardMode}}</td>
          <td nz-td>{{data.forwardResult}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
